ACLib
explorerblur
FSCapture90
LivePaper
MediaInfo
srcex-2.2.0
scripts
aftman.exe 
aria2c.exe 
asciiimg.exe 
credits-cli.exe 
*curl* 
ffmpeg.exe 
ffplay.exe 
ffprobe.exe 
flac.exe 
foobar2000-catbox.exe 
gallery-dl.exe 
gifdiff.exe 
gifsicle.exe 
gifski.exe 
imgur-uploader.exe 
jq.exe 
luarocks.exe 
luarocks-admin.exe 
metaflac.exe 
mp3enc.exe 
mqacheck.exe 
nuget.exe 
opautoclicker.exe 
openvscode.exe 
psshutdown.exe 
phantomjs.exe 
qaac64.exe 
QuasiOSV1.0.exe 
rbxlx-to-rojo.exe 
rojo.exe 
*sql*
srcexp.exe 
unikeynt.exe 
*ytdlp*
*lib*
imgui.ini 
keymap.txt 

